<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sneaker App">
    <meta name="author" content="Kei Sakuma">
    <title>Sneaker App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
<h1>Welcome to the Sneaker App!</h1>
 
 
 
This site is sneaker shelf!
 
 
<h2>Adidas</h2>
 
 
<h2>Nike</h2>
 
  </body>
</html>