{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>{{ sneaker.Sneaker.sneaker_model_name }}</h2>
  </div>
 
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Description</div>
      <div class="panel-body">{{ sneaker.Sneaker.sneaker_retail_price }}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">Public or Private</div>
      {% if sneaker.Sneaker.is_public %}
        <div class="panel-body">Public</div>
      {% else %}
        <div class="panel-body">Private</div>
      {% endif %}
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">User</div>
      <div class="panel-body">{{ sneaker.User.email }}</div>
    </div>

    {% if sneaker.Sneaker.image_url %}
      <img src="{{ sneaker.Sneaker.image_url }}" alt="{{ sneaker.Sneaker.image_filename }}" style="width:600px;height:450px;">
    {% endif %}
 
  </div>
</div>`
 
{% endblock %}