{% extends "layout.html" %}
{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>User Recipes</h2>
  </div>

  <table class="table table-striped" id="owned_stock_table">
    <thead>
      <tr>
        <th>Sneaker Name</th>
        <th>Retail Price</th>
      </tr>
    </thead>
    <tbody>
      {% for sneaker in user_sneakers %}
      <tr>
        <td><a href="{{ url_for('sneakers.sneaker_details', sneaker_id=sneaker.id) }}">{{ sneaker.sneaker_model_name }}</a></td>
        <td>{{ sneaker.sneaker_retail_price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

