import os
 
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = b's\xae\xd7 \xc4\xbdr\x95\xcb/7T-\xaf\xf4\r\xa8$\xfa^\xde:jW'
DEBUG = True

WTF_CSRF_ENABLED = True

# SQLAlchemy
# SQLALCHEMY_DATABASE_URI = 'postgresql://new_user:my_new_password@localhost/sneaker_app'
# SQLALCHEMY_TRACK_MODIFICATIONS = True

POSTGRES_DEFAULT_USER = 'postgres'
POSTGRES_USER = 'new_user'
POSTGRES_PASSWORD = 'my_new_password'
POSTGRES_DB = 'sneaker_app' 
SQLALCHEMY_DATABASE_URI = 'postgresql://' + POSTGRES_USER + ':' + POSTGRES_PASSWORD + '@postgres:5432/' + POSTGRES_DB
SQLALCHEMY_TRACK_MODIFICATIONS = True

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15

MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = 'keisakuma78@gmail.com'
MAIL_PASSWORD = 'hdjdi6ududhd'
MAIL_DEFAULT_SENDER = 'keisakuma78@gmail.com'

# Uploads
UPLOADS_DEFAULT_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADS_DEFAULT_URL = 'http://localhost:5000/static/img/'
 
UPLOADED_IMAGES_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADED_IMAGES_URL = 'http://localhost:5000/static/img/'