# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 
# Instance Folder - used for configuration parameters
/instance

# Initialization file for Postgress Docker Image
/postgresql/Dockerfile

# Coverage output
/web/.coverage
/web/htmlcov/
