# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 
# Instance Folder - used for configuration parameters
/web/instance/db_create.py
/web/instance/flask.cfg
/web/instance/*.db

# Initialization file for Postgress Docker Image
/postgresql/Dockerfile

# Coverage output
/web/.coverage
/web/htmlcov/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
