{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
 
<div class="add-recipe">
 
<div class="page-header">
 
<h2>Add a New Sneaker</h2>
 
  </div>
 
 
 
<form action="{{ url_for('sneakers.add_sneaker') }}" method="post">
    {{ form.csrf_token }}
<dl>
    {{ render_field(form.sneaker_model_name, placeholder="Sneaker Name") }}

    {{ render_field(form.sneaker_retail_price, placeholder="Retail Price") }}
</dl>
    <button class="btn btn-sm btn-success" type="submit">Add Sneaker</button>
  </form>
 
</div>
 
 
{% endblock %}