{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
      <h2>Sneakers</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
            <tr>
              <th>Sneaker name</th>
              <th>Retail Price</th>
            </tr>
          </thead>
          <tbody>
            {% for sneaker in sneakers %}
            <tr>
              <td>{{ sneaker.sneaker_model_name }}</td>
              <td>{{ sneaker.sneaker_retail_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}
